.quejaContainer{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;    
}

.queja{
    border-left: 10px solid var(--poderColectivo-red);
    background-color: var(--poderColectivo-oyster);
    /* margin: 0px 8px 8px 8px;  */
    border-radius: 6px;
    box-shadow: 3px 3px 5px 0px #8888;  
    padding: 1px 5px 5px 0px;
    transition:0.4s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height:10%; 
    /* overflow-wrap: break-word */
   
}

.queja hr{
    height: 3px;
    width:200px;
    background-color: var(--poderColectivo-yellow);
    border:none;
    line-height: 0;
    translate: 0px -30px;
    padding:0;
}

.queja:hover{
    /* border-left: 10px solid var(--poderColectivo-blue); */
    /* background-color: var(--poderColectivo-blueTransparent); */
    background-color: rgba(255, 228, 196, 0.391);
   
}
.quejasParagraphs{
    margin-top: -20px;
}
.queja p{
    margin: 0px 0px 0px 0px;
    padding:5px;
    overflow-wrap: break-word; 
    line-height: 1.5em; 
    text-align: center; 
    font-size: 16px;
}

.quejaQty{
    background-color: var(--poderColectivo-red);
    border-radius: 5px;
    padding:10px;
    font-size: 22px;
    font-weight: 700;
    
}
.quejaLegend{
    font-style: italic;
    /* text-align: center; */
    font-size: 12px;
}

.queja h3{
    text-align: center;     
    margin:20px; 
    overflow-wrap: break-word;  
    line-height: 1.5em; 
}

 #quejaCardTitle{
   
    /* border-bottom: 3px solid var(--poderColectivo-yellow); */
    padding: 10px;
    margin:20px;    
} 

#quejaId{
    font-size: 13px;
    font-style: italic;
}


@media only screen and (max-width:600px){
    .quejaContainer{
        width: 90%;
        /* border-left: 5px solid var(--poderColectivo-red); */
    }

}

/* @media (max-width:600px) {
    .queja{
        border-left: 5px solid var(--poderColectivo-red);
    }
} */