/* // ========== GENERAL (APPLIES TO ALL DIFF CARDS)
===========// */
.quejaContainer{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;    
}

.queja{
    /* background-color: var(--poderColectivo-oyster); */
    background: linear-gradient(
        to right,
        var(--poderColectivo-blue) 0,
        var(--poderColectivo-blue) 0.5%,
        var(--poderColectivo-yellow) 0.5%,
        var(--poderColectivo-yellow) 1%,
        var(--poderColectivo-redTransp) 1%,
        var(--poderColectivo-redTransp) 1.5%,
        var(--poderColectivo-clear) 1.5%,
        var(--poderColectivo-clear)
        )no-repeat
    ;
    /* border-left: 15px solid var(--poderColectivo-blue);
    border-left: 20px solid var(--poderColectivo-red); */
    border-radius: 6px;
    box-shadow: 3px 3px 5px 0px #8888;  
    padding: 10px 0px 10px 0px;
    transition:0.4s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.queja:hover{
    /* background-color: rgba(255, 228, 196, 0.391);    */
    transform: translateX(4px) ;
    
}

/* // ======= Quejas Cards w SUMMARY (Per Company + Per Sector)
======// */

.queja h3{
    text-align: center;     
    margin: 0;
    overflow-wrap: break-word; 
    font-size: 22px; 
}

.quejaLegend{
    font-style: italic;
    font-size: 15px;
    text-align:center;
    margin:10px;
    line-height:1.5em
}

.quejaQty{
    background-color: var(--poderColectivo-redTransp);
    border-radius: 5px;
    padding:10px;
    font-size: 20px;
    font-weight: 700;
    margin:0;
}

.quejaQty .currency{
    font-size: 13px;
    font-weight: 700;
}

/* // ========== INDIVIDUAL DETAILED CARD 
===========// */
.queja hr{
    height: 3px;
    width:23vw;
    background-color: var(--poderColectivo-yellow);
    border:none;
    line-height: 0;
    translate: 0px -30px;
    padding:0;
}

.quejasParagraphs{
    margin-top: -20px;    
}

.queja #quejaDetailedCardTitle{
    padding: 10px;
    margin:15px;    
} 

.queja .quejasParagraphs p{
    margin: 0;
    padding:5px;
    overflow-wrap: break-word; 
    line-height: 1.5em; 
    text-align: center; 
    font-size: 16px;
}

#quejaId{
    font-size: 13px;
    font-style: italic;
}

@media only screen and (max-width:600px){
    .quejaContainer{
        width: 90%;
        /* border-left: 5px solid var(--poderColectivo-red); */
    }

    .queja{
        background: linear-gradient(
            to right,
            var(--poderColectivo-yellow) 0,
            var(--poderColectivo-yellow) 1%,
            var(--poderColectivo-blue) 1%,
            var(--poderColectivo-blue) 2%,
            var(--poderColectivo-redTransp) 2%,
            var(--poderColectivo-redTransp) 3%,
            var(--poderColectivo-oyster) 3%,
            var(--poderColectivo-oyster)
            )no-repeat
        ;        
        padding: 10px 8px 10px 8px;
    }

}




/* @media (max-width:600px) {
    .queja{
        border-left: 5px solid var(--poderColectivo-red);
    }
} */