header{
    background-color: var(--poderColectivo-dark);
}

.navbar nav{
    height: 8vh;
    max-width: 1200px;
    margin:auto;
    display:flex;
    justify-content: center; 
    align-items: center;  
    background-color: var(--poderColectivo-dark);
    position:relative;
}

.navbar nav a{
    text-decoration: none;
    list-style: none;
    color: var(--poderColectivo-clear);
    margin-right:25px;   
    transition:0.2s;   
}

.navbar .menu{
    font-size: 1.3em;
}

.navbar a:hover{
    color: var(--poderColectivo-yellow)
}

.navbar .menu .active{
    color: var(--poderColectivo-yellow)
}

.navbar nav .logo{
    width:25%;
    text-align: center;
}

.logo img{
    width: 130px;
}
.navbar .menu{
    width: 75%;
    text-align: right;
}

.icon {
    color: white;
    display: none;
    align-items: right;
    justify-content: center; 
    width: 50%;
}

.overlayBox{
   position:absolute;
    background-color: yellow;
    /* width: 100%; */
    height: 100%;
    top:7.9vh;
    left:0;  
    z-index: 9;
}

.menuOverlay{
    background-color: var(--poderColectivo-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    line-height: 2em;
    font-size: 1.2em;
    width: 100vw;
}

@media only screen and (max-width:1100px){
    .navbar .menu{
        font-size: 1.1em;
    }
    .navbar nav .logo{
        width:25%;
        text-align: left;
    }
}
@media only screen and (max-width:800px){
    .navbar .menu {
        display:none
    }
    .navbar nav{
        justify-content: space-between;  
    }
    .navbar nav .logo{
        width:35%;
        text-align: left;
    }
    .icon {
        display:block;
        margin-right:35px 
    }
}
@media only screen and (max-width:600px){
    .navbar nav .logo{
        width:45%;        
    }
}
@media only screen and (max-width:450px){
     .navbar nav .logo{
        width:40%;
        margin-bottom:5px
        
       
    } 
}
@media only screen and (max-width:300px){
     .navbar nav .logo{
        width:35%;
    } 
}