.headerwrap{
    background-color: var(--poderColectivo-dark);
}
.navbar{
    height: 15vh;
    max-width: 1200px;
    margin:auto;
    display:flex;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    list-style: none;
    color: var(--poderColectivo-clear);
    font-size: 1.5em;
    margin-right:25px;   
}

.navbar .logo{
    width:25%;
    text-align: center;
}

.logo img{
    width: 95%;
    margin-bottom:15px
}
.navbar .menu{
    width: 75%;
    text-align: right;
}