.backdropImg canvas{
    background-color: var(--poderColectivo-clear);
   
}
.backdropImg{
    width: 1250px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom:50px;
    padding: 5px;
    background-color: var(--poderColectivo-clear);
    border-radius: 15px;
    /* box-shadow: 3px 3px 5px 0px #8888;   */

    position:relative
    
}

.backdropImg::before{
    content: "";
    position: absolute;
    inset: -5px; 
    transform: translate(10px, 8px); 
    z-index: -1; 
    background: linear-gradient(
        /* to right, */
        15deg,
        var(--poderColectivo-blue),
        var(--poderColectivo-blueDark)
        );
    filter: blur(400px); 
}

@media only screen and (max-width:1250px){
    .backdropImg{
        width: 90%;
        height: 45%;
    }
  
        
}

@media only screen and (max-width:600px){
    .backdropImg{
        width: 90%;
        height: 45%;
      
    }
}
@media only screen and (max-width:400px){
    .backdropImg{
        width: 300px;
        height: 300px;
        padding: 20px;
        width: 90%;
        height: 45%;
        
    }
    .backdropImg::before{
        filter: blur(80px)
    }
}
@media only screen and (max-width:299px){
    .backdropImg{
        width: 90%;
        height: 45%;
       
    }
@media (max-width: 298px){
    .backdropImg{
        width: 90%;
        height: 90%;
       
    }
}
}
