
/* // ======================== HERO IMAGE ==================================// */

.heroImage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../../../public/imgs/marcha_fr.jpg');
    height:60vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;   background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;   
    /* display: flex;
    justify-content:center;
    align-content: center */
}

.heroText{
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.heroText h1{
    font-size: 65px;
    line-height: 1.2em;
    font-family:'pacifico';
    font-weight: 100;
    color:var(--poderColectivo-yellow);
    text-shadow: 2px 2px 2px black;

}
.heroText h2{
    line-height: 2.4rem;
    font-size: 33px;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    

}

.heroText p{
    margin:0;
    font-weight:700;
    font-size:18px;
    text-shadow: 2px 2px 2px black;
    
}

@media only screen and (max-width:1250px){
    .heroImage{
        height:70vh;
    }
    .heroText h1{
        font-size: 55px;
        line-height: 1.2em;
        font-weight: 100;    
    }
    .heroText h2{
        line-height: 2rem;
        font-size: 24px;
        font-weight: 600;       
    }
    .heroText p{
        margin:0;
        font-weight:400;  
        line-height:1.3rem
    }
}
@media only screen and (max-width:400px){
    .heroImage{
        height:80vh;
       
    }
    .heroText h1{
        font-size: 60px;
        line-height: 1.2em;
        font-weight: 100;    
    }
    .heroText h2{
        line-height: 1.6rem;
        font-size: 20px;
        font-weight: 600;       
    }
    .heroText p{
        margin:0;
        font-weight:400;  
        line-height:1.4rem
    }
}
@media only screen and (max-width:299px){
    .heroImage{
        height:80vh;
       
    }
    .heroText h1{
        font-size: 35px;
        line-height: 1em;
        font-weight: 100;    
    }
    .heroText h2{
        line-height: 1.5rem;
        font-size: 20px;
        font-weight: 400;       
    }
    .heroText p{
        margin:0;
        font-weight:400;  
        line-height:1.3rem
    }
}


/* // ======================== GENERAL (APPLIES TO EVERYTHING)==================// */
.containerWrap{
    max-width:1300px;
    margin:auto;
    height:auto;
    /* background-color: var(--poderColectivo-oyster); */
}

.button{
    background-color: var(--poderColectivo-yellow);
    max-width:50vw;
    height: 25px;
    padding:5px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    opacity:1;
    font-size:20px;
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    margin-bottom:40px;
    padding: 25px 0px 25px 0px
  }
  
.button:hover{
color:black;
opacity:0.6;
transition:0.3s;
font-weight: 600;
}

@media only screen and (max-width:1000px){
    .button{
        font-size:18px;
        height: 22px;
        min-width: 285px;
        margin:0;
       
    }
}
/* @media only screen and (max-width:600px){
    .button{
        font-size:16px;
        height: 50px;
        padding:10; 
        text-anchor: middle;
       
    }
} */

/* // ======================== DATA IN PAGES (CARDS CONTAINERS)=======================// */

    .data{
    display:flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1300px;
    margin: auto; 
    justify-content: center;
    align-items: center;   
  }

  .data .datah1{
    text-align: center;
    font-size:30px;
    margin-top:75px;
    max-width:1000px;
    line-height:1.3em;
    font-family: 'Roboto', sans-serif;
    font-size:50px;
  }
  
  .data .datah2{
    text-align: center;
    font-size:50px;
    margin-top:75px;
    max-width:1000px;
    line-height:1.3em;
    font-family: 'Roboto', sans-serif;
    
  }
  .data .datah3{
    text-align: center;
    font-size:40px;
    /* margin-top:75px; */
    max-width:1000px;
    line-height:1.3em;
    font-family: 'Roboto', sans-serif;
    
  }
  .data .dataP{
    text-align: center;
    font-size:24px;
    max-width:1000px;
    line-height:1.5em;
    margin-bottom: 45px;
   
  }

  .data a{
    color:black;
    text-decoration: none;
    width: 100%;    
    }
  
    @media only screen and (max-width:1200px){
        .data .datah1{
            font-size:45px;
           
        }
        .data .datah2{
            font-size:45px;
           
        }
        .data .dataP{
            font-size:23px;
           
        }
    }
    @media only screen and (max-width:750px){
        .data .datah1{
            font-size:40px;
        }
        .data .datah2{
            font-size:40px;
        }
        .data .datah3{
            font-size:35px;
        }
        .data .dataP{
            font-size:21px;
           
        }
    }
    @media only screen and (max-width:500px){
        .data .datah1{
            font-size:38px;
        }
        .data .datah2{
            font-size:38px;
        }
        .data .datah3{
            font-size:30px;
        }
        .data .dataP{
            font-size:19px;
           
        }
    }
    @media only screen and (max-width:299px){
        .data .datah1{
            font-size:35px;
           
        }
        .data .datah2{
            font-size:35px;
           
            .data .dataP{
                font-size:18px;
               
            }
        }
    }


/* ================= INFOGRAPHIC FOR INDIVIDUAL DATACARDS VIEW ================= */
/* .containerWrap{
    background-color: aquamarine;
} */
.infoGraphic{
    max-width: 1200px;
    width:90vw;
    height:60vh;
    background-color: var(--poderColectivo-oyster);
    margin: auto;
    border-radius: 8px;
    display:flex;
    /* flex: 1; */
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap:10px 20px;
    position:relative;
    /* flex-grow: grow */
}

.infoGraphic::before{
    content: "";
    position: absolute;
    inset: -5px; 
    transform: translate(10px, 0px); 
    z-index: -1; 
    background: linear-gradient(
        155deg,
        var(--poderColectivo-blueTransparent),
        var(--poderColectivo-redTransp)
        );
    filter: blur(30px); 
}

@media only screen and (max-width:600px){
    .infoGraphic{
        overflow:auto
    }
    /* .infoGraphic::before{
        content: "";
        position: absolute;
        inset: -5px; 
        transform: translate(10px, 0px); 
        z-index: -1; 
        background: linear-gradient(
            155deg,
            var(--poderColectivo-blueTransparent),
            var(--poderColectivo-redTransp)
            );
        filter: blur(500px); 
    } */
}



.info{
    background-color: var(--poderColectivo-clear);
    border-radius: 7px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* width:auto; */
    /* height:auto; */
    padding:20px;
    flex: 1 2 30%;
    height:25vh;
    line-height: 1.7em;
    /* justify-content: center;
    align-items: center; */
   
}

.info h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 3px solid var(--poderColectivo-yellow);
    padding-bottom:10px;
    /* background-color: antiquewhite; */
    margin:0
}
.info p{
    /* text-align: center; */
    /* font-size: 42px; */
    font-family: 'Pacifico', cursive;
    color: var(--poderColectivo-yellow);
    /* background-color: beige; */
    margin:0
}

small{
    /* font-size: 15px; */
    /* transform: translateY(-15px); */
    
}

.info .qtyContainer{
    background-color:var(--poderColectivo-yellowTransparent);
    /* background-color: linear-gradient(red, blue
    ) ; */
    height: 150px;
    width:150px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--poderColectivo-dark);
    font-size: 55px;
    padding: 0;
    margin:10%;
    line-height: 0;
    
}

.info #value{
    background-color:var(--poderColectivo-blueTransparent);
    /* background-color: linear-gradient(red, blue
    ) ; */
    height: 100px;
    width:300px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--poderColectivo-dark);
    font-size: 55px;
    padding: 0;
    margin:10%;
    line-height: 0;
}


.qtyContainer p{
    color: blue;
    font-family: 'Pacifico', cursive;;
    font-size: 110px;
    margin: 0;
    line-height: 0;
    background-color: salmon;
    padding: 0;
    
}



/* .valor .total h2{
    font-size: 10px;
    font-weight: 700;
} */
/* .valor{
    background-color: blue;
    border-radius: 7px;
    padding:20px;
    flex: 1 2 30%;
    height:15vh;
    

}
.estatus{
    background-color: yellow;
    border-radius: 7px;
  
    padding:20px;
    flex: 1 2 30%;
    height:15vh;
}
.motivo{
    background-color: yellowgreen;
    border-radius: 7px;
    padding:20px;
    flex: 1 2 30%;
    height:15vh;
} */