.containerWrap{
    max-width:1300px;
    margin:auto;
    height:auto
}

.data{

    background: var(--poderColectivo-clear);
    display:flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1300px;
    margin: auto; 
    align-items: center;
    
}


.data h2{
    text-align: center;
}

.backdropImg{
    width: 1250px;
    margin:auto;
    padding: 20px;
    margin: 25px 0px 25px 0px;
    /* border: solid 2px black; */
    border-radius: 15px;
    /* font-size: 35px; not working to enlarge info inside charts */
    
}
