.footerWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  padding: 20px;
  background-color: var(--poderColectivo-dark)
  
  
  /*background-color: var(--poderColectivo-dark);
  /* height: 15vh;  */
 /* color: var(--poderColectivo-clear); 
  /* position:fixed; */
 /* width:100%;
  bottom:0;
  left:0;
  display:flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
 /* justify-content:space-evenly;
  text-align:center;
  padding: 30px; 
  /* min-height: auto */
}




.footLogo{
    margin-bottom: 20px;
   /* width: 200px; 
    height: 8vw;
    max-width: 250px;
    background-color: red;
  
    align-items: center;
    margin-bottom: 10;*/
}

img{
    width:75%;
    line-height: 0;
    margin-bottom: 10;

}

.footLegend{
    margin-bottom: 20px;
    color: var(--poderColectivo-smoke);
    /* width: 200px; 
    height: 8vw;
    max-width: 250px;
    background-color: bisque;
    font-size: 16px;
    line-height: 0;
    margin: 0; */
    
}

.navFooter{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 100%;
    /* width: 200px; 
    height: 8vw;
    max-width: 250px;
    background-color: crimson;
    /* display:flex;
    justify-content: space-around;
    max-width: 80vw; */
    /*margin:10px 20vw;
    align-items: center;
    line-height: 1.5em;    */
   
}

.navFooter a{
    text-decoration: none;
    color: var(--poderColectivo-smoke);
    font-size: 16px; 

}

.footClosure{
    color: var(--poderColectivo-smoke);
    font-size: 16px;
    /* width: 200px; 
    height: 8vw;
    max-width: 250px;
    background-color: aqua;
    /* font-size: 16px;
    font-style: italic;
    color: var(--poderColectivo-smoke) */ 

}
