.footerWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  padding: 20px;
  background-color: var(--poderColectivo-dark);  
}
 
.footerInfo{
    background-color: 'red';
    color: 'white';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width: 1300px;
} 
 
.footLogo{
    width:25%
}

img{
    width:80%;
}

.footLegend{
    color: var(--poderColectivo-smoke);   
    color: 'white'; 
    width:25%
}


.navFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;  
    width:25%
}

.navFooter a{
    text-decoration: none;
    color: var(--poderColectivo-smoke);
    font-size: 16px; 

}

.footerCopyRights{
    width: 1300px
}

.footline{
    width:100%;
    border: none; 
    height: 0.5px; 
    background-color: var(--poderColectivo-gray);  
}

.footClosure{
    color: var(--poderColectivo-smoke);
    font-size: 16px;
} 


