/* .containerWrap{
    max-width:1200px;
    margin:auto;
   
} */
/* 
.quejaContainer{
    background-color: var(--poderColectivo-blue);
    border-radius: 8px;
    margin: 8px;
    width: 100%
} */

/* .queja{
    background-color: var(--poderColectivo-clear);
    margin: 0px 8px;
    

} */

/* .quejaContainer a{
    text-decoration: none;
    color: white;
   
} */
/* 
.queja p{
    margin-left: 18px
} */